@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-space-grotesk), sans-serif;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #06b6d4;
  color: white;
}

:root {
  --background: #050816;
  --card: rgba(255, 255, 255, 0.05);
  --primary: #22d3ee;
  --secondary: #94a3b8;
  --border: rgba(34, 211, 238, 0.2);
}